body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

main {
  padding: 20px;
}

img {
  width: 250px;
}

button:hover {
  background: black;
  color: white;
}

span {
  color: red;
  font-size: 12px;
}